{% extends 'base.html' %}
{% load static %}


{% block title %}لیست فروشندگان{% endblock title %}


{% block content %}
    <table>
    <tr>
        <td>نام آناناس فروش</td>
        <td>کد گواهی کسب</td>
        <td>آدرس</td>
    </tr>
    {% for seller in sellers %}
        <tr>
            <td><a href={% url "seller:seller-detail" seller.certificate_code %}>{{ seller.name }}</a></td>
            <td>{{ seller.certificate_code }}</td>
            <td>{{ seller.address|truncatechars:20 }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock content %}